<div class="container">

  <div class="row">

<!-- Left Column -->

  <%= render "frames/side" %>


<!-- Main body -->

    <div class="eight columns frame main-container">

      <div class="create-category-row">
        <h6 class="breadcrumb">Commit the changes</h6>
        <p class="description">Let your team know of the latest updates. Add a message and, optionally, a screenshot of the changes.</p>
      </div>

      <div class="row">

    	  <%= form_tag({ :class => "create-page"}, html: { multipart: true }) do %>
      	  <div>

      	    <label for="Commit title" >Title</label>
      	    <input type="text" id="commit_title"
      	      class="form-control">

      	  </div>


          <input type="hidden" id="commit_user" value="<%= current_user.id %>">
          <input type="hidden" id="linked_version" value="<%= params[:version_id] %>">
          <input type="hidden" id="linked_page" value="<%= params[:page_id] %>">

    	    <div>
    	      <textarea class="froala"></textarea>
    	    </div>

    	    <div class="actions">

    	      <button class="btn btn--primary btn--right btn-commit-js">
    	  	    Commit
    	  	  </button>

    	    </div>

    	  <% end %>

      </div>

    </div>

  </div>

</div>
