<div class="container">

  <div class="row">


<!-- Left Column -->
  <%= render "frames/side" %>

<!-- Main body -->

    <div class="eight columns frame main-container">

      <div class="row row-no-padding">

        <div class="six columns">
          <h1 class="title team_name">
            <% if @team.logo_file_name.present? %>
              <%= image_tag @team.logo.url(:medium), class: "image-nav image-category" %>
            <% end %>
              <span><%= @team.name.capitalize %></span>
          </h1>
        </div>

        <div class="six columns info--right">
          <%= link_to team_path(@team.slug), method: :delete, data: {confirm: "If you delete the team, all your private and public pages will be lost forever. Are you sure you want to continue"} do %>
          <span><%= render :partial => 'svg/bin' %></span>
          <% end %>
        </div>

      </div>

      <div class="row row-no-padding">

        <div class="twelve columns">

        <h4 class="category-title"> Categories in this team </h4>

            <ul class="category-list">
              <% @team.categories.each do |c| %>
              <li>
                <span><%= render :partial => 'svg/folder' %></span>
                  <%= link_to c.title.capitalize, category_display_path(@team.slug, c.slug)%>
              </li>
              <% end %>
            </ul>

            <div class="row row-no-padding">
                   <label for="@team" class="category-title">Upload a new logo</label>
                   <%= form_for @team, url: team_path(@team.slug), html: { multipart: true } do |form| %>
                     <%= form.file_field :logo %>
                     <%= form.submit "Save", class: "btn  btn--primary" %>
                   <% end %>
             </div>

        </div>

      </div>

      <div class="row">
          <!-- USERS -->

          <div class="twelve columns">

            <h4 class="category-title">Users in this team</h4>

              <ul class="users-list">
                <% @team.users.each do |u| %>
                  <li class="user">
                    <% if u.avatar_file_name %>
                      <%= link_to user_path(u) do %>
                        <%= image_tag u.avatar.url(:medium) %>
                      <% end %>
                    <% else %>
                        <%= link_to u.first_char, user_path(u), class: "link" %>
                    <% end %>

                    <div class="users-actions">
                      <ul>
                        <li class="manage-users">
                          <%= link_to user_path(u) do %>
                          <p>View profile</p>
                          <% end %>
                          <a class="remove-member-js red-link" id="<%= u.id %>" data-team="<%= @team.slug %>" >Remove user</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                <% end %>
              </ul>


            <% if flash %>
              <em><%= flash[:error] %></em>
            <% end %>

          </div>

        </div>

        <div class="row">
          <!-- USER INIVTATION -->

          <div class="twelve columns">

            <h4 class="category-title">Invite users to this team</h4>
              <input type="text" name="participants" id="participants-invite-js"
              placeholder="Add one or more email addresses, separated by a comma"
              class="form-control">
              <button class="btn btn--secondary invite-users-js" data-team="<%= @team.slug %>">Invite</button>
          </div>

          <% if flash[:notice] %>
          <p><b><%= flash[:notice] %></b></p>
          <% end %>

        </div>

      </div>

      </div>
    </div>

  </div>

</div>
