<div class="container">

  <div class="row">


<!-- Left Column -->
  <%= render "frames/side" %>

<!-- Main body -->

    <div class="eight columns frame main-container">

      <div class="row">
        <h1 id="team_name"><%= @team.name.capitalize %></h1>

            <% if @team.logo %>
              <%= image_tag @team.logo.url(:medium) %>
            <% end %>

        <h4> Categories in this team </h4>

          <ul>
            <% @team.categories.each do |c| %>
            <li><%= link_to c.title.capitalize, category_display_path(@team.name, c.title)%></li>
            <% end %>
          </ul>

       <div class="row row-no-padding">
              <label for="@team" >Upload a new logo</label>
              <%= form_for @team, url: team_path(@team.slug), html: { multipart: true } do |form| %>
                <%= form.file_field :logo %>
                <%= form.submit "Save", class: "btn  btn--primary" %>
              <% end %>
        </div>


    <h4>Users in this team</h4>
      <ul>
        <% @team.users.each do |u| %>
        <li>
          <% if u.avatar %>
            <%= image_tag u.avatar.url(:thumb) %>
          <% end %> 
          <%= link_to u.full_name, user_path(u)%> <a class="remove-member-js" id="<%= u.id %>" data-team="<%= @team.slug %>">(x)</a>
        </li>
        <% end %>
      </ul>
          <% if flash %>
          <em><%= flash[:error] %></em>
          <% end %>

      </div>

      <p><%= link_to 'Delete permanently this team', team_path(@team.slug), method: :delete, data: {confirm: "If you delete the team, all your private and public pages will be lost forever. Are you sure you want to continue"}  %></p>


    </div>

  </div>

</div>
