<div class="container">

  <div class="card--center">

    <div class="six columns frame main-container">

        <div class="row">

          <h2>Log in</h2>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, class:"form-control" %>
            </div>

            <div class="field">
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me, class: "checkbox" %>
                <%= f.label :remember_me, class: "checkbox-label" %>
              </div>
            <% end -%>

            <%= render "users/shared/links" %>

            <div class="actions">
              <%= f.submit "Log in", class: "btn  btn--primary" %>
            </div>
          <% end %>

        </div>

      </div>

   </div>

  </div>

</div>
