<div class="container">

  <div class="row">

<!-- Left Column -->
  <%= render "frames/side" %>

<!-- Main body -->

    <div class="eight columns frame main-container">

      <div class="row row-no-border">

        <div class="six columns breadcrumb">
          <p>Profile</p>
        </div>
        <% if current_user == @user %>
        <div class="six columns breadcrumb info--right">
            <%= link_to edit_user_registration_path do%>
            <span class="icons"><%= render :partial => 'svg/edit' %></span>
            <% end %>
        </div>
        <% end %>

      </div>

        <div class="row-no-border">

          <div class="three columns profile-image">
            <% if current_user.avatar %>
              <%= image_tag @user.avatar.url(:medium) %>
            <% end %>
          </div>

          <div class="eight columns main-user-info">
            <h1><%= @user.full_name %> <% if current_user == @user %>(you)<% end %></h1>
            <h3><%= @user.job_title %></h3>
          </div>
        </div>

        <div class="row">

            <ul class="twelve columns user-list-info">
              <li><%= render :partial => 'svg/folder' %><%= @user.location %></li>
              <li><%= render :partial => 'svg/folder' %><%= @user.email %></li>
              <li><%= render :partial => 'svg/calendar' %>Joined on <%= @user.created_at.to_time.strftime("%b %d, %Y") %></li>
            </ul>

        </div>

        <div class="row row-no-padding">
          <% if current_user == @user %>
              <label for="user" >Upload a new profile picture</label>
              <%= form_for @user, url: user_picture_path, html: { multipart: true } do |form| %>
                <%= form.file_field :avatar %>
                <%= form.submit "Save", class: "btn  btn--primary" %>
              <% end %>
          <% end %>
        </div>

        <div class="row">
          
          <div class="user-commits">
            
            <h5>Latest commits</h5>
            <ul>
            <% @user.commits.each do |c| %>
              <li><b><%= link_to c.title, c.link_to_page %></b><br/>
                  <em><%= c.created_at.to_time.strftime("%b %d, %Y") %></em>
              </li>
            <% end %>
            </ul>    

          </div>


          <hr/>

            <p><a href="#" id="addusers-js">Invite this user to a category</a></p>

            <div id="list-js" style="display: none">
                <ul>
                <% @other_categories.each do |cat| %>
                 <li> <%= link_to cat.title, category_add_user_path(title_slug: cat.slug, user_id: @user.id), method: :post %> </li>
                <% end %>
                </ul>
            </div>

        </div>

    </div>


      </div>
    </div>
</div>
