<div class="container">

  <div class="row">

<!-- Left Column -->
  <%= render "frames/side" %>

<!-- Main body -->

    <div class="eight columns frame main-container">

      <div class="row row-no-border">

        <div class="six columns breadcrumb">
          <p>Profile</p>
        </div>
        <% if current_user == @user %>
        <div class="six columns breadcrumb info--right">
          <p><%= link_to 'Edit', edit_user_registration_path %></p>
        </div>
        <% end %>

      </div>

        <div class="row row-no-border">

          <div class="three columns profile-image">
            <% if current_user.avatar %>
              <%= image_tag @user.avatar.url(:medium) %>
            <% end %>
          </div>

          <div class="eight columns main-user-info">
            <h1><%= @user.full_name %> <% if current_user == @user %>(you)<% end %></h1>
            <h3><%= @user.job_title %></h3>
          </div>
        </div>

        <div class="row">

            <ul class="twelve columns user-list-info">
              <li><%= render :partial => 'svg/folder' %><%= @user.location %></li>
              <li><%= render :partial => 'svg/folder' %><%= @user.email %></li>
              <li><%= render :partial => 'svg/calendar' %>Joined on <%= @user.created_at.to_time.strftime("%b %d, %Y") %></li>
            </ul>

        </div>
              <% if current_user == @user %>
                <hr />
                  <label for="user" >Uplaod a new profile picture</label>
                  <%= form_for @user, url: user_picture_path, html: { multipart: true } do |form| %>
                    <%= form.file_field :avatar %>
                    <%= form.submit "Save", class: "btn  btn--primary" %>
                  <% end %>
                <hr />
              <% end %>
        <div class="row">

          <p><%= @user.first_name %> is active in:</p>
          <ul>
          <% @user.categories.each do |category| %>
          <li><%= link_to "#{category.title.capitalize}, in #{category.team["name"].capitalize}", category_display_path(category.team["name"], category['title']) %></li>
          <% end %>
          </ul>
            <p><a href="#" id="addusers-js">Add this user to a category</a></p>

            <div id="list-js" style="display: none">
                <ul>
                <% @other_categories.each do |cat| %>
                 <li> <%= link_to cat.title, category_add_user_path(title_slug: cat.slug, user_id: @user.id), method: :post %> </li>
                <% end %>
                </ul>
            </div>

        </div>

    </div>


      </div>
    </div>
</div>
