<div class="container">

  <div class="row">


<!-- Left Column -->
  <%= render "frames/side" %>

<!-- Main body -->

    <div class="eight columns frame main-container">

      <div class="row" id="page">

        <h1 id="page_title" class="disappear_on_edit"><%= @page.title %></h1>
        <input type="text" value="<%= @page.title.capitalize %>" class="show_on_edit" id="version_title" style="display: none">

        <h4 id="page_description" class="disappear_on_edit"> <%= @page.description %></h4>
        <input type="text" value="<%= @page.description %>" class="show_on_edit" id="version_description" style="display: none">
        <input type="hidden" value="<%= params[:page_slug] %>" id="page_slug">

        <button id="edit-page" class="disappear_on_edit">Edit</button>
        <button id="save-page" style="display: none" class="show_on_edit">Save</button>
        <%= link_to "Commit", new_commit_path(@page.page.id, @page.id), :class => 'disappear_on_edit' %>
            
          <div class="[put_name_here]" id="eclink">
              <p class="versions"><%= @page.page.versions.length %> edit<% if @page.page.versions.length > 1%>s<% end%></p>
              <p class="commits"><%= @page.page.commits.length %> commit<% if @page.page.commits.length > 1%>s<% end%></p>
          </div>

        <input type="hidden" value="<%= current_user.id %>" id="version_user">

        <div class="fr-view" id="page_content">
            <%= @page.content.html_safe %>
        </div>

        <hr/>
          <ul id="edit-commit-list">
          <% @edit_commit_list.each do |element| %>
            <% if element.class == Commit %>
              <li class="commit-list">Commit: <%= element.title + ", " + element.created_at.to_time.strftime("%a, %d %B %Y") %></li>
            <% else %>
              <li class="edit-list">Edit: <%= element.title + ", " + element.created_at.to_time.strftime("%a, %d %B %Y") %></li>
            <% end %>
          <% end %>  
          </ul>
        <hr/>
          <%= link_to page_path(@page.page.slug), method: :delete, class: "menu__text" do%>
            <span class="icons"><%= render :partial => 'svg/bin' %></span>
          <% end %>
          <%= form_for Document.new, url: add_file_to_page_path, html: { id: 'edit_page', multipart: true } do |form| %>
              <%= form.file_field :file %>
          <% end %>
      </div>

    </div>

  </div>

</div>