
    <div class="three columns">

    <div>

      <% current_user.teams.each do |team| %> 
       <div class="category-left list"> <div class="icons"><%= render :partial => 'svg/folder' %></div> 
       <%= link_to team.name.capitalize, team.name, :method => :post %>
       </div>
      <% end %>

    <hr class="divider">

    <div class="icons"><%= render :partial => 'svg/guidelines' %></div>
        <%= link_to "Guidelines control", root_path %>
    </div>

    <hr class="divider">

      <%= button_to "Create Category", new_category_path, method: :get, class: "btn btn--primary create" %>
      <% if session[:current_team] %>
          <% if session[:categories] == 0 %>
          <p> You don't have any active category in this team yet! </p>
          <% end %>
          <% session[:categories].each do |category| %>
          <div class="category-left list"> <div class="icons"><%= render :partial => 'svg/folder' %></div> <%= link_to category["title"].capitalize, category_display_path(category['team_id'], category['title']) %></div>
          <% end %>
      <% else %>
        <p>No team selected</p>
      <% end %>

    </div>
