<div class="container">

  <div class="row">
<% if user_signed_in? %>


<!-- Left Column -->
  <%= render "frames/side" %>

<!-- Main body -->

    <div class="eight columns">

      <ul>

        <div class="frame main-container">

          <div class="guidelines-row">

            <p class="title">Welcome to Basic Shapes</p>

            <div class="six columns breadcrumb info">

              <%= "#{session[:current_team]['created_at'].to_time.strftime("%A ,%d %B %Y")}" %>

            </div>

            <div class="six columns info info--right">
              <%= link_to ("#{session[:current_team]['name']}").capitalize, "/#{session[:current_team]['name']}" %>
            </div>

          </div>

          <div class="row">
            <img src="/assets/welcome.png" alt="" class="commit__image">

            <p class="commit__description">Basic shapes offers a new way to create documentation for design and marketing, ofering a seamless collaboration between teams.</p>
          </div>

        </div>


        <div class="frame main-container">

          <div class="guidelines-row">

            <p class="title">Welcome to Basic Shapes</p>

            <div class="six columns breadcrumb info">

              <%= "#{session[:current_team]['created_at'].to_time.strftime("%A ,%d %B %Y")}" %>

            </div>

            <div class="six columns info info--right">
              <%= link_to ("#{session[:current_team]['name']}").capitalize, "/#{session[:current_team]['name']}" %>
            </div>

          </div>

          <div class="row">
            <img src="/assets/welcome.png" alt="" class="commit__image">

            <p class="commit__description">Basic shapes offers a new way to create documentation for design and marketing, ofering a seamless collaboration between teams.</p>
          </div>

        </div>

      </ul>


    </div>

<% else %>


<!-- Main body -->

    <div class="card--center">

      <div class="six columns frame">

      	<h3>Welcome to Basic Shapes</h3>

        <p class="description description--center">Basic shapes offers a new way to create documentation for design and marketing, ofering a seamless collaboration between teams.</p>

        <div class="actions">

          <%= link_to "Login", new_user_session_path, class: "btn  btn--primary" %>
        	<%= link_to "Signup", new_user_registration_path, class: "btn  btn--secondary btn--separation" %>

        </div>

      </div>

    </div>

<% end %>


  </div>

</div>
