<div class="container">

  <div class="row">
<% if user_signed_in? %>


<!-- Left Column -->
  <%= render "frames/side" %>

<!-- Main body -->

    <div class="eight columns">

    <% if @commits %>
      <% @commits.each do |commit| %>

          <div class="frame main-container">

            <div class="row row-no-padding">

              <div class="six columns">
                <span><%= commit.user.full_name %> in category X</span>
              </div>

              <div class="six columns breadcrumb info--right">
                  <%= "#{commit.created_at.to_time.strftime("%a, %d %B %Y")}" %>
              </div>

            </div>

            <div class="guidelines-row row-no-padding">
              <!-- Albert, can we change this to h2 or h3? -instead of p? -->
              <p class="title"><%= link_to commit.title, page_display_path(session[:current_team]['slug'], commit.page.category.slug, commit.page.slug) %></p>

            </div>

            <div class="row row-no-padding-top">
              <% if commit.image_file_name %>
                   <%= image_tag commit.image.url, class: "commit__image" %>
              <% end %>
              <%= commit.message.html_safe %>
            </div>

          </div>

      <% end %>
    <% end %>


        <div class="frame main-container">

          <div class="row row-no-padding">

            <div class="six columns">
              <span>Albert Ramirez created the team</span>
            </div>

            <div class="six columns breadcrumb info--right">
                <%= "#{session[:current_team]['created_at'].to_time.strftime("%a, %d %B %Y")}" %>
            </div>

          </div>

          <div class="guidelines-row">

            <p class="title">Welcome to Basic Shapes</p>

          </div>

          <div class="row row-no-padding-top">

            <p class="commit__description">Basicshapes offers a new way to create documentation for any type of business, ofering a seamless collaboration between teams.</p>

            <img src="<%= asset_path('welcome.png')%>" alt="" class="commit__image">

            <p class="commit__description">While using Basicshapes...</p>
          </div>

        </div>

    </div>

<% else %>


<!-- Main body -->

    <div class="card--center">

      <div class="six columns frame">

      	<h3>Welcome to Basic Shapes</h3>

        <p class="description description--center">Basic shapes offers a new way to create documentation for design and marketing, ofering a seamless collaboration between teams.</p>

        <div class="actions">

          <%= link_to "Login", new_user_session_path, class: "btn  btn--primary" %>
        	<%= link_to "Signup", new_user_registration_path, class: "btn  btn--secondary btn--separation" %>

        </div>

      </div>

    </div>

<% end %>


  </div>

</div>
