<div class="container">

  <div class="row">

<!-- Left Column -->
  <%= render "frames/side" %>

<!-- Main body -->

    <div class="eight columns frame main-container">

      <div class="row category-header">

        <div class="six columns">
          <h6 class="category-title"><%= @category.title.capitalize %></h6>
        </div>

        <div class="six columns category-title info--right">
          <%= link_to category_path(@category.title), method: :delete, class: "menu__text" do%>
            <span class="icons"><%= render :partial => 'svg/bin' %></span>
          <% end %>
        </div>

        <div class="twelve columns">

          <p class="categories-description"><%= @category.description %></p>

        </div>

      </div>

      <div class="main-container row--dark">

        <div class="row">

          <ul class="pages-list">

              <li class="card-general add-page">
                <%= link_to new_page_path do%>
                  <div class="mini-card">
                    <h2 class="title">Add page</h2>
                    <p class="description">Create new page</p>
                  </div>
                <% end %>
              </li>


            <% if @category.pages.length > 0 %>
                <% @category.pages.each do |page| %>

                  <li class="card-general">
                    <%= link_to page_display_path(session[:current_team]['slug'],@category.slug,page.slug) do %>
                      <div class="mini-card">
                        <h2 class="title"><%= page.versions.last.title %></h2>
                        <p class="description" id="cat-desc"><%= page.versions.last.description %></p>

                        <div class="mini-card-info">
                          <p class="versions"><%= page.versions.length %> versions</p>
                          <p class="commits"><%= page.commits.length %> commits</p>
                        </div>
                      </div>
                    <% end %>
                  </li>

                <% end %>
            <% end %>
          </ul>

        </div>

      </div>



        <!-- note: Add amdin authentication here -->

      <div class="row">


        <ul class="users-list">

          <% @category.users.each do |u| %>
          <li class="user">
            <% if u.avatar_file_name  %>
              <%= link_to user_path(u) do %>
                <%= image_tag u.avatar.url(:medium) %>
              <% end %>
            <% else %>
              <%= link_to u.first_char, user_path(u), class: "link" %>
            <% end %>
          </li>
          <% end %>

        </ul>

        <% if @team_users.length > 0 %>

          <div class="new-users">

            <a href="#" id="addusers-js"><span><%= render :partial => 'svg/add' %></span></a>

            <ul class="users">

              <% @team_users.each do |user| %>
               <li> <%= link_to user.full_name, category_add_user_path(title: params[:title], user_id: user.id), method: :post %> </li>
              <% end %>

            </ul>

          </div>

        <% end %>

      </div>

    </div>
<!-- Empty Column -->

    <div class="one column empty"> Empty Column </div>


  </div>

</div>

<script type="text/javascript">
  var content = $('#cat-desc').text();
  if(content.length > 40)
    $("#cat-desc").text(content.substring(0,32) + '...');
</script>
