<div class="container">

  <div class="row">

<!-- Left Column -->
  <%= render "frames/side" %>

<!-- Main body -->

    <div class="eight columns">

      <div class="frame main-container">

        <div class="row category-header">

          <div class="six columns">
            <h6 class="category-title"><%= @category.title.capitalize %></h6>
            <input type="text" style="display: none" id="category-title" value="<%= @category.title.capitalize %>">
          </div>
          <div class="six columns  info--right">

            <div class="category-title">
              <a href="#" class="edit-category-name disappear_on_edit menu__text">
                <span><%= render :partial => 'svg/edit' %></span>
              </a>
              <%= link_to category_path(@category.slug), method: :delete, class: "menu__text" do%>
                <span><%= render :partial => 'svg/bin' %></span>
              <% end %>
            </div>

            <div class="category-edits">
                <button class="btn btn--primary edit-category-save show_on_edit" style="display: none" data-slug="<%= @category.slug %>">Save changes</button>
            </div>


          </div>

          <div class="twelve columns">

            <p class="categories-description"><%= @category.description %></p>

          </div>

        </div>

        <div class="main-container row--dark">

        <div class="row category-bottom">

          <ul class="pages-list" id="pages-sortable" data-slug="<%= @category.slug %>">

              <span class="card-general add-page">
                <%= link_to new_page_path do%>
                  <div class="mini-card mini-card-trigger">
                    <h2 class="title">Add page</h2>
                    <p class="description">Create new page</p>
                  </div>
                <% end %>
              </span>

            <% if @category.pages.length > 0 %>
                <% @category.sort_pages.each do |page| %>

                  <li class="card-general card-page" data-position="<%= page.position %>" data-id="<%= page.id %>">
                    <%= link_to page_display_path(session[:current_team]['slug'],@category.slug,page.slug) do %>
                      <div class="mini-card">
                        <h2 class="title"><%= page.versions.last.title %></h2>
                        <p class="description page-desc"><%= page.versions.last.description %></p>

                        <div class="mini-card-info">
                          <p class="versions"><%= page.versions.length %> edit<% if page.versions.length > 1%>s<% end%></p>
                          <p class="commits"><%= page.commits.length %> commit<% if page.commits.length > 1%>s<% end%></p>
                        </div>
                      </div>
                    <% end %>
                  </li>

                <% end %>
            <% end %>
          
          </ul>

        </div>

      </div>



        <!-- note: Add amdin authentication here -->

      <div class="row">


        <ul class="users-list">

          <% @category.users.each do |u| %>
          <li class="user">
            <% if u.avatar_file_name  %>
              <%= link_to user_path(u) do %>
                <%= image_tag u.avatar.url(:medium) %>
              <% end %>
            <% else %>
              <%= link_to u.first_char, user_path(u), class: "link" %>
            <% end %>
          </li>
          <% end %>

        </ul>

        <% if @team_users.length > 0 %>

          <div class="new-users">

            <a href="#" id="addusers-js"><span><%= render :partial => 'svg/add' %></span></a>

            <ul class="users">

              <% @team_users.each do |user| %>
               <li> <%= link_to user.full_name, category_add_user_path(title: params[:title], user_id: user.id), method: :post %> </li>
              <% end %>

            </ul>

          </div>

        <% end %>

      </div>

    </div>

      <div  class="frame main-container">

        <div class="row">
          <h4 class="title">Files</h4>
        </div>

            <div class="main-container row--dark" id="#file-list">

              <div class="row category-bottom">
                <ul class="pages-list">

                  <li class="card-general">
                    <%= form_for Document.new, url: add_file_to_category_path, html: { id: 'edit_page', multipart: true } do |form| %>
                        <%= form.file_field :file %>
                      <% end %>
                      <a href="#" class="add-file">
                        <div class="mini-card mini-card-trigger">
                          <h2 class="title">Attach a file</h2>
                        </div>
                      </a>
                  </li>

                  <% @files.each do |file| %>
                      <li class="card-general">
                        <%= link_to file.file.url do %>
                          <div class="mini-card">
                            <h2 class="title"><%= file.file_file_name %></h2>
                            <p class="description" id="page-desc"><%= file.file_content_type %></p>
                          </div>
                        <% end %>
                      </li>
                    <% end %>
                </ul>
              </div>
            </div>
        </div>
    </div>

<!-- Empty Column -->

    <div class="one column empty"> Empty Column </div>


  </div>

</div>

<script type="text/javascript">
  var content = $('.page-desc').text();
  if(content.length > 40)
    $(this).text(content.substring(0,32) + '...');
</script>

<script>
  var el = document.getElementById('pages-sortable');
  var sortable = new Sortable(el, {
    animation: 200,
    onEnd: function() {
      orderPages()
    }
  });
 </script>
