<div class="container">

  <div class="row">

<!-- Left Column -->
  <%= render "frames/side" %>

<!-- Main body -->

    <div class="eight columns frame">


      <h6 class="breadcrumb"><%= @category.title.capitalize %></h6>
      <p class="description"><%= @category.description %></p>


    <!-- note: this will need the use of teams -->

    <!-- note: Add amdin authentication here -->
    <p><%= link_to 'Delete this', category_path(@category.title), method: :delete %></p>
    <p><a href="#" id="addusers-js">Add users to this category</a></p>

    <div id="list-js" style="display: none">
        <ul>
        <% @team_users.each do |user| %>
         <li> <%= link_to user.full_name, category_add_user_path(title: params[:title], user_id: user.id), method: :post %> </li>
        <% end %>
        </ul>
    </div>

    <hr/>

    <h4>Users in this category:</h4>

    <ul>
    <% @category.users.each do |u| %>
    <li><%= link_to u.full_name, user_path(u) %></li>
    <% end %>

    </div>

<!-- Empty Column -->

    <div class="one column empty"> Empty Column </div>


  </div>

</div>


