<!DOCTYPE html>
<html>
  <head>
    <title>Basicshapes</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<<<<<<< HEAD
  <nav class="container-flex">
    <%= render :partial => 'svg/basicshapes-logo' %>
    <% if user_signed_in? %>

    	<p>Logged in as <%= current_user.first_name  %>!</p>
    	<%= link_to "Logout", destroy_user_session_path, method: 'delete' %>

  	<% else %>
=======
  <nav>

    <div class="nav-row">
      <%= render :partial => 'svg/basicshapes-logo' %>
      <% if user_signed_in? %>

      	<p>Logged in as <%= current_user.first_name  %>!</p>
      	<%= link_to "Logout", destroy_user_session_path, method: 'delete', class: "btn  btn--secondary" %>

    	<% else %>

      	<p>No user is logged in</p>

        <div class="">
          <%= link_to "Login", new_user_session_path, class: "btn  btn--primary" %>
        </div>

    	<% end %>
    </div>

  </nav>
>>>>>>> develop/styles

    	<p>No user is logged in</p>
    	<%= link_to "Login", new_user_session_path, class: "btn  btn--primary" %>

  	<% end %>
  </nav>
    <%= yield %>

  </body>
</html>
