 <!DOCTYPE html>
<html>
  <head>
    <title>Basicshapes</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Include external CSS. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">

    <!-- Include Editor style. -->
    <link href="/assets/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/froala_style.min.css" rel="stylesheet" type="text/css" />

  </head>

  <body>

  <nav class="container-flex top-nav">

    <div class="nav-row">
      <%= render :partial => 'svg/basicshapes-logo' %>
      <% if user_signed_in? %>

        <div class="menu">
          <!-- <div class="image-nav"> -->
            <%= image_tag current_user.avatar.url(:medium), class: "image-nav"%>
          <!-- </div> -->
          <ul class="dropdown">
            <li>
              <%= link_to 'My profile', user_path(current_user) %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: 'delete' do %>
              <span class="red-link">Logout</span>
              <% end %>
            </li>
            <li>
              <%= link_to "Create team", new_team_path %>
            </li>
          </ul>
        </div>

      	<!-- <p>Logged in as <%= current_user.first_name  %>!</p> -->

    	<% else %>

      	<!-- <p>No user is logged in</p> -->

        <div class="">
          <%= link_to "Login", new_user_session_path, class: "btn  btn--primary" %>
        </div>

    	<% end %>
    </div>

  </nav>

    <%= yield %>

    <!-- Include external JS libs. -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>
    <!-- Include Editor JS files. -->

      <script type="text/javascript" src="/assets/froala_editor.pkgd.min.js"></script>

    <!-- Initialize the editor. -->
    <script>
      $(function() {
        $('.froala').froalaEditor({}) });
    </script>

    <script>
      $(function() {
        $('div#froala-editor').froalaEditor({
          toolbarInline: true,
          charCounterCount: false,
          toolbarButtons: ['bold', 'italic', 'underline', 'strikeThrough', 'color', 'emoticons', '-', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'indent', 'outdent', '-', 'insertImage', 'insertLink', 'insertFile', 'insertVideo', 'undo', 'redo']
        })
      });
  </script>

  </body>
</html>
